.calculatorContainer {
  width: 540px;
  height: 706px;
  color: var(--calculator-background);
  overflow: auto;
}

@media (max-width: 600px) {
  .calculatorContainer {
    width: 375px;
    height: 667px;
    padding: 1.5em;
  }
}
