.headerDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  width: 100%;
  height: 42px;
  padding: 0 3.5px;
  background-color: var(--header-background);
  color: var(--header-color);
}

.logo {
  font-size: 2em;
  font-weight: bold;
}

.themeDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.5em;
}

.themeText {
  font-size: 0.75rem;
  font-weight: bold;
  height: 11px;
  align-self: flex-end;
  margin-bottom: 10.31px;
  color: var(--theme-text-color);
}

@media (max-width: 600px) {
  .headerDiv {
    padding: 0 3.5px;
  }
}
